.container {
    .center-div{
        width: 20%;
        margin: 0 auto;
        text-align: center;
        .btn {
            padding: 2px;
            margin-left: 2px;
            font-size: 14px;
        }
    }
}